<h1>Angular Google Maps (AGM) Demo</h1>

<!-- <agm-map [latitude]="lat" [longitude]="lng"></agm-map> -->


<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false">

  <agm-marker *ngFor="let m of markers; let i = index" (mapClick)="mapClicked($event)"
    (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"
    [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

    <!-- <agm-info-window>
      <strong>Marker Info WIndow: {{m.label}}</strong>
    </agm-info-window> -->
    <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
      <ng-template>
        Saggy Info Window: {{m.label}}
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>

  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="10000" [fillColor]="'red'" [strokeColor]="'blue'"
    [strokeWeight]="4" [fillOpacity]="0.4" [strokeOpacity]="0.4" [circleDraggable]="true" [editable]="true"
    (dragEnd)="circleDragEnd($event)" (radiusChange)="circleRadiusChange($event)"
    (centerChange)="circleCenterChange($event)" (circleClick)="circleClick($event)"
    (rightClick)="circleRightClick($event)">
  </agm-circle>
</agm-map>